extends layout.pug 
block Body 
  main.mt-5
    .container
      .card.mx-auto
        .card-header
          img.car-img-top.mx-auto.m-2.rounded-circle(src="./img/Logo.png", alt="Logo" style="width:150px;height:150px;display:block;")
          h3.text-uppercase.text-center.p-4 Crud con nodeJs and Mysql
        .card-body.text-center 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, et quia voluptatum eligendi sunt tempore ratione dolores animi ipsam cum vel voluptas incidunt perferendis voluptatem ipsum soluta odit ut cumque!Nemo nihil doloribus commodi dolor odit quis assumenda reprehenderit. Ex quos impedit et, non ipsam deleniti accusamus? Impedit, quibusdam? Distinctio illo recusandae illum fugit dolores accusantium praesentium voluptates officiis officia.Magnam praesentium
          a.btn.btn-primary(href="#") Crear persona  
